.charListLight{
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
    justify-content: center;
}

.charListParty{
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: hotpink;
}